.profile{
    cursor:pointer;
 }


.nav-bar{
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:25em;
    cursor: pointer;
    
}


.profile div i ,.nav-bar div i {
    font-size: 20px;
    border:1px solid rgb(151, 146, 146) ;
    padding:5px;
   color:white;
    border-radius:10%; 
}

.profile div i:hover , .nav-bar div i:hover{
    color:rgb(99, 95, 95);
    border-color: rgb(99, 95, 95) ;
}

#notifications{
    color:rgb(99, 95, 95);
    border-color: rgb(99, 95, 95) ;
}

