<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>job Board</title>
  <link href="/styles.css" rel="stylesheet">
</head>


<body>
  <div class="container">
    <header>
      <div class="top-bar">
        <div class="logo">
          <a href="">
            <h1>Job Board</h1>
          </a>
        </div>
        <div class="nav-buttons">
          <button class="btn">Register</button>
          <button class="btn">Login</button>
        </div>
      </div>
    </header>

    <section class="main-content">
      <div class="search-container">
        <h2>Find Your Dream Job</h2>
        <input type="text" placeholder="Search for jobs...">
        <button class="search-btn">Search</button>
      </div>

      <div class="recent-jobs-section">
        <h2>Recent Jobs</h2>

        <div class="job-grid">
          
          <% jobData.forEach(function(job) { %>
            <div class="job-card">
              <h3><%= job.title %></h3>
              <p>
                <%= job.company %><br />
                <%= job.location %>
              </p>
            </div>
            <% }); %>

        </div>
        <div class="seeMore">
          <button type="submit">See More</button>
        </div>
    </section>

  </div>


  <footer>
    <div class="footer-content">
      <p>&copy; 2024 Job Board</p>

    </div>
  </footer>
</body>


</html>